lightgallery
markdown-include
mike
mkdocs-bootstrap-tables-plugin
mkdocs-exclude
mkdocs-git-revision-date-plugin
mkdocs-htmlproofer-plugin
mkdocs-macros-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-section-index
mkdocs-static-i18n
mkdocs-with-pdf
mkdocs<1.2
plantuml-markdown
